body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--secondary);
  transition: all .3s;
}

:root {
  --light-orange: #f3a237;
  --dark-orange: #FE4F12;
  --red: #ce2828;
  --light-blue: #37A6EF;
  --blue: #0041CD;
  --gray: #727272;
  --dark-gray: #424242;
  --dark-blue: rgba(34, 34, 90, 0.685);

  --primary: var(--dark-orange);
  --secondary: var(--light-yellow);
  --thirdcolor: var(--light-orange);

  --h1: 4.209rem;
  --h2: 3.157rem;
  --h3: 2.369rem;
  --h4: 1.777rem;
  --h5: 1.333rem;
}

.hot {
  --primary: var(--dark-orange);
  --secondary: var(--red);
  --thirdcolor: var(--light-orange);
}

.dark {
  --primary: var(--gray);
  --secondary: var(--dark-gray);
  --thirdcolor: var(--dark-blue);
}

.title {
  background-color: var(--primary); 
  margin-left: 20vw;
  margin-right: 20vw;
  border-radius: 7px;
  transition: .3s;
}

h1{
  font-size: var(--h1);
}
h2{
  font-size: var(--h2);
}
h3{
  font-size: var(--h3);
}
h4{
  font-size: var(--h4);
}
h5{
  font-size: var(--h5);
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

#flexcontainer {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

#everything,
#chickenbtn,
#shrimpbtn,
#veganbtn,
#hotbtn,
#nothotbtn {
  margin-left:45vw;
  margin-right:45vw;
  background-color: rgba(158, 15, 15, 0.589);
  border-radius:10px;
}


.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: var(--thirdcolor);
  width: 25vw;
  height: 50vh;
  font-size: 1rem;
  border-radius: 15px;
  padding-bottom: 3vh;
  margin: 7.5vh; 
  box-shadow: 10px 10px;
  transition: all .3s;
}

#everything:hover,
#chickenbtn:hover,
#shrimpbtn:hover,
#veganbtn:hover,
#hotbtn:hover,
#nothotbtn:hover {
  background-color:rgba(241, 15, 15, 0.685);
  transform: translate(0px, 5px);
  text-size-adjust: 1.5rem;
} 


.card-img {
  align-items: center;
  width: 45%;
  height: 50%;
}

@media screen and (max-width: 800px) {
  .card {
    width: 100%;
    margin: 5.5vh;
    height: 90%;
  }
  .title {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1200px) and (min-width: 801px) {
  .card {
    width: 65%;
    margin: 6.5vh;
    height: 65%;
  }
  .title {
    font-size: 2rem;
  }
}
